PROJECT=whiplash
DEPLOY_ENV=dev              // dev, prod, staging
AWS_REGION=eu-west-2
AWS_PROFILE=soni-1214
APP_TYPE=backend            // backend, frontend
TLS_ENABLED=false
HOSTED_ZONE_NAME=alb.soni-doing-whiplash.com
CERTIFICATE_ARN=arn:aws:acm:eu-west-2:<account-id>:certificate/xxxxxxxxxxxx
